<html>
	<head>
		<title>Twitter To XML</title>

		<!-- CSS -->
		<link type="text/css" rel="stylesheet" href="media/css/ui-lightness/jquery-ui-1.8.16.custom.css" />
		<link type="text/css" rel="stylesheet" href="media/css/estilos.css" />

		<!-- Javascript -->
		<script type="text/javascript" src="media/js/jquery-1.7.min.js"></script>
		<script type="text/javascript" src="media/js/scripts.js"></script>
	</head>
	<body>
		<fieldset class="ui-widget-content ui-corner-all">
			<legend class="ui-widget-header ui-corner-all">Busca</legend>
			<form id="frmBusca">
				<input type="text" name="busca" size="50" />
				<input type="button" value="Buscar" id="btnBusca" />
			</form>
		</fieldset>
		<div id="resultado"></div>
	</body>
</html>
